doctype html
html
    head
        title Swadhin Dance Academy | Let's Dance
        block scripts
        block style
        body
            nav#navbar
                ul
                    div#logo
                        img(src="/static/img/logo.png")
                        | SDA
                    li #[a(href="/") Home]
                    li #[a(href="/") About]
                    li #[a(href="/") Services]
                    li #[a(href="/") Class Info]
                    li #[a(href="/contact") Contact Us]
            block content
            footer#footer
                | &copy 2019 SwadhinDanceAcademy.com | All rights Reserved